@import "tailwindcss";
@plugin "daisyui";
@utility btn {
  @apply border-1 border-black shadow-[2px_2px_0_0_black] rounded-none 
  bg-white text-black font-bold transition-colors duration-200 ease-in-out;
  &:hover {
    @apply bg-[#ff3366] text-white;
  }
  &:active {
    box-shadow: 1px 1px 0 0 black;
    transform: translate(1px, 1px);
  }
}

@utility navbar {
  @apply bg-white text-black border-b-2 border-black p-4 flex justify-between items-center shadow-[4px_4px_0_0_black] rounded-none font-bold;
  .nav-link {
    @apply text-white hover:text-gray-300;
  }
}

@utility card {
  @apply bg-white text-black border-2 border-black rounded-md p-4  shadow-[1px_1px_0px_0px_black] transition-transform duration-200 ease-in-out;
  .card-title {
    @apply font-bold text-lg mb-2;
  }
  .card-content {
    @apply text-base;
  }
}

@utility input {
  @apply border-2 border-black rounded-md p-2 w-full transition-colors duration-200 ease-in-out;
  &:focus {
    @apply border-blue-900 outline-none;
  }
}
